extends layout

block mainContent
  #contain

  p
    | Tap Tap Tap around

  ul#auth
    li.ico-media
      a Your Media
    li.ico-find-friends
      a Find Friends
    li.ico-share-media
      a Share Media
    li.ico-twitter
      +authorizationLink('twitter', 'Twitter')

  a.back-to-home
    | Square One
