extends layout

block mainContent
  #contain

  p.dashboard-p
    | Tap Tap Tap around

  ul#auth
    li.ico-media
      a(href='/videos') Videos
    li.ico-find-friends
      a(href='/rdio') Radio
    li.ico-share-media
      a Share Media
  a.continue-hacking.back-home(href="../")
    | Re-Serve
