extends layout

block mainContent
  #contain

  p.dashboard-p
    | Tap Tap Tap around

  ul#auth
    li.ico-media
      a Your Media
    li.ico-find-friends
      a Find Friends
    li.ico-share-media
      a Share Media
  a.continue-hacking.back-home(href="../")
    | Square One
