extends layout

block mainContent
  #contain

  p.dashboard-p
    | Tap Tap Tap around

  ul#auth
    li.ico-media
      a Videos
    li.ico-find-friends
      a Radio
    li.ico-share-media
      a Friends
  a.continue-hacking.back-home(href="../")
    | Re-Serve
