extends layout

block mainContent
  #contain

  p
    | Serve Up.

  ul#auth
    li.ico-facebook
      +authorizationLink('facebook', 'Facebook')
    li.ico-google
      +authorizationLink('google', 'Google')
    li.ico-tumblr
      +authorizationLink('tumblr', 'Tumblr')
    li.ico-twitter
      +authorizationLink('twitter', 'Twitter')
    li.ico-rdio
      +authorizationLink('rdio', 'Rdio')

  a.continue-hacking(href="dashboard")
    | Kick It
