body
	padding 0 
	margin 0
h1
	font-family Arial
	font-size 28px
	text-transform uppercase
.clearboth
	clear both
#header
	margin 20px auto
.headerSection
	margin 0 auto	
	max-width 320px
	a
		color #333
		h1
			line-height	72px
			float left
			padding-right 19px
			font-weight lighter
			letter-spacing 5px
			color #333
	img
		width 93px

#mainContent
	max-width 320px
	margin 0 auto
	p
		text-align center
		font-size 22px
		font-family Arial
		letter-spacing 10px
		max-width 320px
		margin 0 auto

#auth
	list-style none
	max-width 320px
	display block
	padding 0
	margin 0 auto
	li
		margin 5px
		padding 5px
		border-radius 10px
		padding-right 20px
		line-height 40px
		padding-left 58px
		font-family Arial
		text-transform uppercase
		font-size 20px	
		text-decoration none
		letter-spacing 7px
		color #00d905
		background #333 no-repeat 10px center
		background-size 30px
		&.ico-tumblr
			background-image url('/img/icons/ico-tumblr.png')
		&.ico-facebook
			background-image url('/img/icons/ico-facebook.png')
		&.ico-google
			background-image url('/img/icons/ico-google.png')
		&.ico-twitter
			background-image url('/img/icons/ico-twitter.png')
		&.ico-rdio
			background-image url('/img/icons/ico-rd.png')
		&.ico-media
			background-image url('/img/icons/ico-media.png')
		&.ico-find-friends
			background-image url('/img/icons/ico-find-friends.png')
		&.ico-share-media
			background-image url('/img/icons/ico-share-media.png')
		a
			line-height 40px
			font-family Arial
			text-transform uppercase
			font-size 20px
			color #ccc	
			text-decoration none
			letter-spacing 7px
		&:hover
			cursor pointer
			a
				color #d6eb21
		.check
			float right
			color #00d905	
			text-decoration none
			letter-spacing 7px
a.continue-hacking
	padding 5px 25px
	font-family Arial
	letter-spacing 10px
	font-size 14px
	border-radius 10px
	line-height 49px
	margin 28px auto
	background #ddd
	display block
	text-align center
	text-transform uppercase
	max-width 160px
	text-decoration none
	&:visited
		color #333
		text-decoration none
	&:hover
		cursor pointer
		border 1px solid #333
