body
	padding 0 
	margin 0
h1
	font-family Arial
	font-size 28px
	text-transform uppercase
.clearboth
	clear both
#header
	margin 20px auto
.headerSection
	margin 0 auto	
	max-width 320px
	h1
		line-height	72px
		float left
		padding-right 19px
		font-weight lighter
		letter-spacing 5px
	img
		width 93px

#mainContent
	p
		text-align center

#auth
	list-style none
	max-width 320px
	display block
	padding 0
	margin 0 auto
	li
		margin 5px
		padding 5px
		border-radius 10px
		padding-right 20px
		line-height 40px
		padding-left 58px
		font-family Arial
		text-transform uppercase
		font-size 20px	
		text-decoration none
		letter-spacing 7px
		color #00d905
		&.ico-tumblr
			background url('/img/icons/ico-tumblr.png') no-repeat 10px center #333
			background-size 30px
		&.ico-facebook
			background url('/img/icons/ico-facebook.png') no-repeat 10px center #333
			background-size 30px
		&.ico-google
			background url('/img/icons/ico-google.png') no-repeat 10px center #333
			background-size 30px
		&.ico-twitter
			background url('/img/icons/ico-twitter.png') no-repeat 10px center #333
			background-size 30px
		a
			line-height 40px
			font-family Arial
			text-transform uppercase
			font-size 20px
			color #ccc	
			text-decoration none
			letter-spacing 7px
		&:hover
			cursor pointer
			a
				color #d6eb21
		.check
			float right
			color #00d905	
			text-decoration none
			letter-spacing 7px
