body {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: Arial;
  font-size: 28px;
  text-transform: uppercase;
}
.clearboth {
  clear: both;
}
#header {
  margin: 20px auto;
}
.headerSection {
  margin: 0 auto;
  max-width: 320px;
}
.headerSection h1 {
  line-height: 72px;
  float: left;
  padding-right: 19px;
  font-weight: lighter;
  letter-spacing: 5px;
}
.headerSection img {
  width: 93px;
}
#mainContent {
  max-width: 320px;
  margin: 0 auto;
}
#mainContent p {
  text-align: center;
  font-size: 22px;
  font-family: Arial;
  letter-spacing: 10px;
  max-width: 320px;
  margin: 0 auto;
}
#auth {
  list-style: none;
  max-width: 320px;
  display: block;
  padding: 0;
  margin: 0 auto;
}
#auth li {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  padding-right: 20px;
  line-height: 40px;
  padding-left: 58px;
  font-family: Arial;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 7px;
  color: #00d905;
}
#auth li.ico-tumblr {
  background: url("/img/icons/ico-tumblr.png") no-repeat 10px center #333;
  background-size: 30px;
}
#auth li.ico-facebook {
  background: url("/img/icons/ico-facebook.png") no-repeat 10px center #333;
  background-size: 30px;
}
#auth li.ico-google {
  background: url("/img/icons/ico-google.png") no-repeat 10px center #333;
  background-size: 30px;
}
#auth li.ico-twitter {
  background: url("/img/icons/ico-twitter.png") no-repeat 10px center #333;
  background-size: 30px;
}
#auth li.ico-media {
  background: url("/img/icons/ico-media.png") no-repeat 10px center #333;
  background-size: 30px;
}
#auth li.ico-find-friends {
  background: url("/img/icons/ico-find-friends.png") no-repeat 10px center #333;
  background-size: 30px;
}
#auth li.ico-share-media {
  background: url("/img/icons/ico-share-media.png") no-repeat 10px center #333;
  background-size: 30px;
}
#auth li a {
  line-height: 40px;
  font-family: Arial;
  text-transform: uppercase;
  font-size: 20px;
  color: #ccc;
  text-decoration: none;
  letter-spacing: 7px;
}
#auth li:hover {
  cursor: pointer;
}
#auth li:hover a {
  color: #d6eb21;
}
#auth li .check {
  float: right;
  color: #00d905;
  text-decoration: none;
  letter-spacing: 7px;
}
a.continue-hacking {
  padding: 5px 25px;
  font-family: Arial;
  letter-spacing: 10px;
  font-size: 14px;
  border-radius: 10px;
  line-height: 49px;
  margin: 28px auto;
  background: #ddd;
  display: block;
  text-align: center;
  text-transform: uppercase;
  max-width: 160px;
  text-decoration: none;
}
a.continue-hacking:visited {
  color: #333;
  text-decoration: none;
}
a.continue-hacking:hover {
  cursor: pointer;
  border: 1px solid #333;
}
